<nav class="navbar navbar-light bg-white border-bottom">
  <div class="container">
    <%= link_to staffs_path, class: "navbar-brand" do %>
    Staff
    <% end %>

    <%= link_to new_staff_path, class: "btn btn-primary" do %>
    <i class="fas fa-plus"></i> Add Staff
    <% end %>
  </div>
</nav>
<section class="container my-4">
  <table class="table border bg-white">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Last Sign in</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @staffs.each do |staff| %>
      </tr>
      <tr>
        <th class="d-flex align-items-center" scope="row">
          <div class="bg-info text-white text-center rounded p-1 mr-2"
            style="width:30px;">
            <%= staff.name.slice(0) %>
          </div>
           <%= link_to staff.name, edit_staff_path(staff), class: "text-dark" %>
        </th>
        <td> <%= staff.first_name %></td>
        <td> <%= staff.email %></td>
        <td><%= staff.updated_at %></td>
         <% end %>
      </tr>
    </tbody>
  </table>
</section>