<%= form_for @customer do |f| %>
<div class="card">
  <div class="card-body">
    <div class="row"></div>
    <div class="col form-group">
      <%= f.label :name, "First Name" %>
      <%= f.text_field :name, class: :"form-control" %>
    </div>
    <div class="col form-group">
      <%= f.label :surname, "Last Name" %>
      <%= f.text_field :surname, class: :"form-control" %>
    </div>
    <div class="col form-group">
    <%= f.label :email, "Email Address" %>
    <%= f.text_field :email, class: :"form-control" %>
  </div>
  </div>
</div>
<div class="card-footer bg-white">
  <div class="text-right">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>

</div>
<% end %>
</div>