<nav class="navbar navbar-light bg-white border-bottom">
  <div class="container">
    <%= link_to customer_index_path, class: "navbar-brand" do %>
    Customers
    <% end %>
    <%= link_to new_customer_path, class: "btn btn-primary" do %>
    <i class="fas fa-plus"></i> Add Customer
    <% end %>
  </div>
</nav>

<section class="container my-4">
  <table class="table border bg-white">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Feedback</th>
        <th scope="col">Votes</th>
        <th scope="col">Last Activity</th>
      </tr>
    </thead> 
    <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <th class="d-flex align-items-center" scope="row">
          <div class="bg-success text-white text-center rounded p-1 mr-2" style="width:30px;">
         <%= customer.name.slice(0) %>
          </div>
           <%= link_to customer.name, edit_customer_path(customer), class: "text-dark" %>
        </th>
        <td><%= customer.email %></td>
        <td><%= customer.created_at %></td>
         <td>votes go here</td>
        <td><%= customer.updated_at %></td>
      </tr>  
      <% end %>
    </tbody>
  </table>
</section>