<%= render "subnav" %>

<section class="container my-4">
  <table class="table border bg-white">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Feedback</th>
        <th scope="col"><span class="sr-only">actions</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="d-flex align-items-center" scope="row">
          <div class="bg-secondary text-white text-center rounded p-1 mr-2"
               style="width:30px;">
            LM
          </div>
          Lucy Miller
        </th>
        <td class="align-middle">
          <%= link_to feedback_path(1), class: "text-dark" do %>
            Sometimes a user will submit feedback, however there isn't enough...
          <% end %>
        </td>
        <td>
          <%= image_tag "icons/angry", alt: "angry emoji", width: 28, height: 28 %>
          <%= link_to "Attach", new_feedback_path, class: "btn btn-primary ml-1" %>
        </td>
      </tr>
      <tr>
        <th class="d-flex align-items-center" scope="row">
          <div class="bg-success text-white text-center rounded p-1 mr-2"
               style="width:30px;">
            HI
          </div>
          Henry Itondo
        </th>
        <td class="align-middle">
          <%= link_to feedback_path(1), class: "text-dark" do %>
            Would be great if we could speak with a customer after they have submitted...
          <% end %>
        </td>
        <td>
          <%= image_tag "icons/smile", alt: "smile emoji", width: 28, height: 28 %>
          <button type="button" class="btn btn-light ml-1" disabled>
            <i class="fas fa-check"></i> Attached
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
