<%= render "subnav" %>

<section class="container my-4">
  <div class="row">
    <div class="col-8">
      <div class="card mb-3 rounded-0">
        <div class="card-body">
          <p><%= @feedback.customer.feedback %></p>
        </div>
        <div class="mt-4 mb-0 rounded-0 alert alert-danger" role="alert">
          <%= image_tag "icons/angry", alt: "angry emoji", width: 28, height: 28, class: "mr-1" %>
          <span class=" align-middle">Text analysis suggests Lucy was <strong>angry</strong> when providing this feedback</span>
        </div>
      </div>

      <div class="rounded-0 alert alert-warning" role="alert">
        <%= image_tag "icons/smile", alt: "smile emoji", width: 28, height: 28, class: "mr-1" %>
        <span class=" align-middle">Text analysis suggests Lucy was <strong>happy</strong> when providing this feedback</span>
      </div>  
    </div>  
    <div class="col">
      <div class="border-bottom">
        <%= render "meta" %>
      </div>
    </div>
  </div>
</section>
